#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1rem;
  text-align: center;
  border: px solid;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  margin: 1em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: 500;
  background-color: #646cff;
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.button1 {
  margin-top: 0px;
  width: 43vw;
  font-size: 4vw;

}

button:hover {
  background-color: #090a19;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  background-color: #090a19;
}

button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

h1 {
  font-size: 5.2vw;
  line-height: 8vw;
  border: px solid ;
  margin-top: 2vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

h1 span {
  color: #646cff;
  font-size: 7.2vw;
  font-family:'Times New Roman', Times, serif ;
}

label {
  display: block;
  margin: 0;
  font-size: 5vw;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: px solid;
}

input {
  padding: 0.5em;
  font-size: 3.7vw;
  border: 1px solid #646cff;
  border-radius: 8px;
  display: block;
  margin: 0 auto;

}

input:nth-last-child(3) {
  
  font-size: 3.4vw;
  max-width: 850px;
  width: 58%;
  border-radius: 5vw;
  padding-left: 15px;
  box-sizing: border-box;
  display: inline;
  
}
select {
  padding: 0.5em;
  font-size: 3.4vw;
  border: 1px solid #646cff;
  border-radius: 5vw;
  display: block;
  margin: 0 1vw;
  width: 39%;
  max-width: 850px;
  display: inline;
}

input:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0.5em auto;
  border: 0.5px solid #646cff;
  padding: 1.5em;
  border-radius: 8px;
  background-color: #090a19;
  box-shadow: 5px 5px 5px #ba1b1baa;
  max-width: 800px;
  
}
li:hover {
  background-color: #1a1a1a;
}

a {
  
  text-decoration: none;
}

a:hover {
  color: #ee6714;
}

.signin {
  border: px solid #646cff;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}